
<div class="contactContainer">
    <h2>Let's get in touch!</h2>

        <div class="contactGrid">

            <form action="">
                <input type="text" id = "name" placeholder = "Name" #name>
        
                <input type="text" id = "email" #email placeholder = "Email">
        
                <textarea name="" id="" cols="30" rows="10" #message placeholder = "Message"></textarea>

                <div class="buttonContainer">
                    <app-button (btnClick)="testing(name, email, message)" text="Submit"></app-button>
                </div>
            
                <p *ngIf="messageSubmitted">Thank you! I'm excited to be in contact with you!</p>
                <p *ngIf="errorMessage">Oops! Something went wrong! Please reach out over email at lydiaswan15@gmail.com</p>
            </form>

            <div class = "myContact">
                <div class = "phone">
                    <img src="../../../assets/files/phone-24.png" alt="Phone Icon">
                    <h3>801-822-3510</h3>
                </div>
        
                <div class = "email">
                    <img src="../../../assets/files/email-24.png" alt="Email Icon">
                    <h3>lydiaswan15@gmail.com</h3>
                </div>
        
                <div class = "social">
                    <ul>
                        <li><a href="https://linkedin.com/in/lydia-swanson-692856217"><img src="../../../assets/files/linkedin-3-xxl.png" alt=""></a></li>
                        <li><a href="https://github.com/lydiaswan15"><img src="../../../assets/files/GitHub-Mark-Light-32px.png" alt=""></a></li>
                                        
                    </ul>
                </div>
            </div>

    </div>
    

</div>
