$background-color: #173a34;
$lighter-backgroud: #1A403A;
$font-color: #99C1B7;
.contactContainer{
    margin-bottom: 15vh;
    margin-top: 25vh;
    text-align: center;
}

.contactGrid{
    display: grid;
    grid-template-columns: 1fr;
    

    .myContact{
        grid-column: 2;

        margin-top: auto;
        margin-bottom: auto;
        width: 100%;

        .phone, .email{
            display: flex;
        }

        .social{

            display: block;

            ul {
                display: flex;
                padding: 0px;
                li{
                    list-style-type: none;
                    flex-direction: column;
                    margin: 0px;
                }
            }
        }

        img{
            width: 20px;
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 20px;
        }
    }
}
app-heading{
    float: center;
    color: $font-color;
}
app-heading{
    text-align: center;
}
form{

    width: 75%;
    label{
        display: block;
        color: $font-color;
        margin-top: 10px;
    }

    .buttonContainer{
        display: flex;
    }
    app-button{
        float: left;
    }
    input, textarea{
        width: 100%;
        background-color: $background-color;
        border-bottom: 1px solid $font-color;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        margin-top: 3em;
        color: $font-color;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
    }
    textarea{
        border-style: solid;
        border-color: $font-color;
    }
    input::placeholder, textarea::placeholder{
        color: $font-color;
        font-family: 'Lato', sans-serif;
        padding: 3px;
        font-size: 17px; 
    }
    input:focus, textarea:focus{
       outline:none; 
    }
    input{
        height: 2em;
    }
}