<div class="about-me-container">

    <div class="myStory">

        <div class="storyBody">

            <h2>My Story</h2>
            <p>
                As a lazy elementary school student, my parents would force me to spend time everyday learning
                 something new. One of the topics that I decided to learn was some basic programming. 
                 I’m not going to lie, I thought it was boring. 
            </p>

            <p>
                When I entered college, I had the same mindset. Programming is boring. I realized how incorrect my thinking
                was when my first response to any party invitation was "dangit, I had homework for my programming class I wanted to do".
                So I switched my major and never looked back!

            </p>

            <p>
                Since then, I have had the opportunity to work with so many different technologies and have 
                learned so much. As I’ve studied web development, I’ve fallen in love with the combination of 
                creativity and logic that is required while building an application.
            </p>

            <p>
                I look forward to applying all I have learned as I continue to learn in my future career!
            </p>

        </div>
        <div class="imgBox"><img src="../../../assets/files/casualPhoto.png" alt="Photo of Lydia Swanson"></div>
    </div>

    <div class="whatIDo">
        <h2>What I Do</h2>  
        <app-languages-list></app-languages-list>
    </div>

</div>

