

$background-color: #173a34;
$font-color: #99C1B7;

.language{
    // width: 255px;
    width: 17.75vw;
    height: 275px;
    border-radius: 2%;
    padding: 20px;
    margin-top: 15px;
    background-color: #1D4942;
    position: relative;
    // display: flex;
    // flex-direction: column;

    .outerLinkBox{
        display: flex;
        flex-flow: column;
        margin: 0px;
    }

    .linkBox{
        flex: 1 1 auto;
        height: 100%;
    }

    a{
        position: absolute;
        color: white;
        text-decoration: none;
        bottom: 0;
        left: 0;
        padding: 20px;
    }

    .title{
        display: flex;

        h3{
            height: 50%;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: .5em;
        }

        img{
            width: 40px;
            height: 75%;
        }
    }
}