

$background-color: #173a34;
$font-color: #99C1B7;

.language{
    // width: 255px;
    width: 17.75vw;
    height: 275px;
    border-radius: 2%;
    padding: 20px;
    margin-top: 15px;
    background-color: #1D4942;

    .title{
        display: flex;

        h3{
            height: 50%;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: .5em;
        }

        img{
            width: 40px;
            height: 75%;
        }
    }
}