<div class="home">

    <div class="aboutMeContainer">
        <p id = "downArrow">&#8595;</p>
    <img src="../../../assets/files/Lydia_swanson_img.jpg" alt="">
        <div class="personalInfo">
            <h3>HELLO MY NAME IS</h3>
            <h1>LYDIA SWANSON</h1>
            <p>
                I’m a senior at BYU-Idaho studying software engineering with an emphasis in web development. 
                I am passionate about creating full-stack applications that are both beautiful and functional. 
                In my spare time I enjoy camping, blasting classical music, and eating an unhealthy amount of cold cereal.
            </p>
    
            <ul>
                <li id="thirdMenu"><app-button text = "Resume" (btnClick)="onDownloadPDF()" ></app-button></li>
            </ul>
        </div>
    </div>
</div>
