<div class="home">

    <div class="aboutMeContainer">
    <img src="../../../assets/files/Lydia_swanson_img.jpg" alt="">
        <div class="personalInfo">
            <app-heading text="Hello! My name is"></app-heading>
            <h1>LYDIA SWANSON</h1>
            <p>
                I’m a senior at BYU-Idaho studying software engineering with an emphasis in web development. 
                I am passionate about creating full-stack applications that are both beautiful and functional. 
            </p>
    
            <ul>
                <li id="thirdMenu"><app-button text = "Resume" (btnClick)="onDownloadPDF()" ></app-button></li>
            </ul>
        </div>
    </div>
</div>
